$newsSwipeStart: -497px
$newsSwipeEnd: -1475px
$myList: 295px
$screnWidth: 272px



@mixin transition($transition...) 
	-moz-transition:    $transition
	-o-transition:      $transition
	-webkit-transition: $transition
	transition:         $transition

@mixin transition-property($property...) 
	-moz-transition-property:    $property
	-o-transition-property:      $property
	-webkit-transition-property: $property
	transition-property:         $property

@mixin transition-duration($duration...) 
	-moz-transition-property:    $duration
	-o-transition-property:      $duration
	-webkit-transition-property: $duration
	transition-property:         $duration

@mixin transition-timing-function($timing...) 
	-moz-transition-timing-function:    $timing
	-o-transition-timing-function:      $timing
	-webkit-transition-timing-function: $timing
	transition-timing-function:         $timing

@mixin transition-delay($delay...) 
	-moz-transition-delay:    $delay
	-o-transition-delay:      $delay
	-webkit-transition-delay: $delay
	transition-delay:         $delay


@font-face
	font-family: "Yanone-Kaffeesatz"
	src: url("../fonts/YanoneKaffeesatz-Regular.ttf")

@font-face
	font-family: "Yanone-Kaffeesatz"
	src: url("../fonts/YanoneKaffeesatz-Regular.woff")

@font-face
	font-family: "Yanone-Kaffeesatz"
	src: url("../fonts/YanoneKaffeesatz-Regular.svg")

@font-face
	font-family: "Yanone-Kaffeesatz"
	src: url("../fonts/YanoneKaffeesatz-Regular.eot")


.control-buttons
	position: absolute
	top: 0
	left: 340px
	cursor: pointer
	div
		width: 70px
		height: 40px
		box-sizing: border-box
		border: 1px solid #000
		margin: 10px
		padding: 10px
		text-align: center
		&:hover
			background-color: #F0F0F0





#demo-app-animation
	position: relative
	.da_screen_wrap
		background: #F0F0F0 none repeat scroll 0 0
		border-radius: 2px
		border: 2px solid #2b2b2b
		position: absolute
		height: 481px
		width: 272px
		left: 44px
		top: 75px
		overflow: hidden
		@media (max-width: 992px)
			left: -7px
			right: 0
			margin: 0 auto

	.da_screen
		position: absolute
		height: 100%
		width: $screnWidth
		left: $screnWidth
		top: 0
		@include transition(left 0.7s ease-out)

	.da_screen_start
		background: #cfc none repeat scroll 0 0
		left: 0
	.da_screen_active
		left: 0

	.da_screen_deactive
		left: -$screnWidth

	/*----------Screens----------*/
	.da_app_top_bar
		background: url("../images/demo-app/top_bar.png") 0 0/100% auto no-repeat

	.da_app_bottom_bar
		background: url("../images/demo-app/bottom_bar.jpg") 0 100%/100% auto no-repeat


	/*-------First animation-------*/
	.da_screen_start
		background: url("../images/first-screen.jpg") 0 0/100% auto no-repeat

	.da_screen_second
		background: url("../images/second-screen.jpg") 0 0/100% auto no-repeat

	.da_screen_third
		background: url("../images/third-screen_1.jpg") 0 0/100% auto no-repeat

	/*-------Second animation-------*/
	.da_screen_fourth
		background: url("../images/fourth-screen.jpg") 0 0/100% auto no-repeat

	.da_screen_fifth
		background: url("../images/fifth-screen.jpg") 0 0/100% auto no-repeat

	.da_screen_sixth
		background: url("../images/sixth-screen.jpg") 0 0/100% auto no-repeat

	/*-------Third animation-------*/
	.da_screen_seventh
		background: url("../images/seventh-screen.jpg") 0 0/100% auto no-repeat

	.da_screen_eighth
		background: url("../images/eighth-screen.jpg") 0 0/100% auto no-repeat

	.da_screen_ninth
		background: url("../images/ninth-screen.jpg") 0 0/100% auto no-repeat



	.da_screen_news,
	.da_screen_list
		height: 100%
		.da_post_list
			top: 101px
			width: 100%
			position: absolute

	.da_screen_news .da_post_list
		background: #FCFCFC url("../images/demo-app/posts_list.png") 0 0/100% auto no-repeat
		height: 1975px

	&.da-news-swipe-start .da_screen_news .da_post_list,
	&.da-news-like-1 .da_post_list
		top: $newsSwipeStart

	&.da-news-swipe-end .da_screen_news .da_post_list,
	&.da-news-like-2 .da_post_list,
	&.da-news-add .da_post_list
		top: $newsSwipeEnd


	&.da-news-swipe-start,
	&.da-news-swipe-end
		.da_screen_news .da_post_list
			@include transition(top 1.5s cubic-bezier(0.21, 0.51, 0.42, 0.93))

	&.da-news-swipe-end .da_screen_news .da_post_list
		-webkit-transition-duration: 2s
		-moz-transition-duration: 2s
		-ms-transition-duration: 2s
		-o-transition-duration: 2s
		transition-duration: 2s



	.da_screen_list
		.da_adding_post
			width: 100%
			height: 194px
			opacity: 0
			z-index: 0
			background: url("../images/demo-app/new_post.png") 0 0/100% auto no-repeat
		.da_post_list
			background: #FCFCFC  url("../images/demo-app/old_posts.png") 0 0/100% auto no-repeat
			height: 414px

	&.da-my-list-add
		.da_adding_post
			opacity: 1
			@include transition(opacity 1.3s cubic-bezier(0.55, 0.06, 0.68, 0.19))
		.da_post_list
			top: $myList
			@include transition(top 0.5s cubic-bezier(0.51, 0.21, 0.49, 0.83))

	&.da-my-list-like
		.da_post_list
			top: $myList
		.da_adding_post
			opacity: 1

	.da_adding_post
		top: 101px
		position: absolute

	&.da-with-bar
		.da_app_top_bar,
		.da_app_bottom_bar,
		.da_app_menu
			left: 0
			top: 0


.da_toch
	position: absolute
	z-index: 1
	width: 0
	height: 0
	border-radius: 200px
	background-color: #E2DEDC
	left: -200px
	opacity: 0.6
	@include transition(width 0.3s ease-in 0s)

	-webkit-transition-property: width, height, margin
	-moz-transition-property: width, height, margin
	-ms-transition-property: width, height, margin
	-o-transition-property: width, height, margin
	transition-property: width, height, margin
	&.active
		width: 60px
		height: 60px
		margin-top: -30px
		margin-left: -30px

/*----------Classes for clicks----------*/
.da-start-exit .da_toch
	left: 140px
	top: 175px

.da-login-click .da_toch
	left: 130px
	top: 190px

.da-third-screen-click .da_toch
	left: 245px
	top: 55px

.da-news-like-2 .da_toch
	left: 235px
	top: 278px

.da-news-add .da_toch
	left: 136px
	top: 465px

.da-my-list-like .da_toch
	left: 229px
	top: 278px

.da_post
	position: relative
	width: 100%
	height: 196.5px
	.da_like
		right: 11px
		bottom: 2px
		position: absolute
		font-size: 16px
		font-weight: 700
		letter-spacing: 0.3px
		color: #cacaca
		padding-left: 20px
		background: url("../images/demo-app/like-sprite.png") 0 -15px no-repeat
		background-size: 14px
		&.active
			background-position: 0 5px
			color: #FF704D

// application bars

.da_app_top_bar,
.da_app_bottom_bar,
.da_app_menu
	position: absolute
	width: 100%
	height: 481px
	left: $screnWidth
	@include transition(left 0.7s ease-out)

.da_app_menu
	padding-top: 61px
	.da_app_menu_container
		height: 100%
		width: 100%
		left: 0
		position: absolute
		background: url("../images/demo-app/menu_list.png") 0 0/100% auto no-repeat
		@include transition(background 0.3s ease-in 0s)

[class*='da-news'],
[class*='da-my-list']
	.da_app_menu
		padding-top: 61px

	.da_app_menu_container
		height: 100%
		width: 100%
		left: 0
		position: absolute
		background: url("../images/demo-app/menu_list.png") 0 0/100% auto no-repeat
		@include transition(background 0.3s ease-in 0s)


[class*='da-news'] .da_app_menu_container
	background: url("../images/demo-app/menu_news.png") 0 0/100% auto no-repeat
	@include transition(background 0.3s ease-in 0s)

// application bars end

// preloader
#page-preloader
	.spinner
		width: 15px
		height: 15px
		position: absolute
		left: 0
		right: 0
		bottom: 40px
		margin: 0 auto
		background: url('../images/demo-app/loader-circle_1.gif') 50% 50%/100% auto no-repeat
// preloader end

// degbug

#da-animation-start,
#da-animation-stop
	position: absolute
	bottom: 60px
	z-index: 10
#da-animation-start
	left: 65px
#da-animation-stop
	right: 65px

//Путешествие в Малайзию
/*--------typing letters--------*/
.da_screen_third
	.container
		position: absolute
		top: 21%
		transform: translateY(-50%)
		width: 100%
	/*margin: 0 auto*/

	.slogan
		display: block
		overflow: hidden
		position: relative
		width: 0
		/*margin: 0 auto*/
		left: 2.5%
		padding: 2px 0 0
		font-family: 'Yanone-Kaffeesatz', sans-serif
		font-size: 18px
		font-weight: 300
		letter-spacing: 0
		/*text-align: center*/
		border-right: 2px solid #27ae60
		-webkit-animation-name: blink-start, typing, blink-end
		-moz-animation-name: blink-start, typing, blink-end
		animation-name: blink-start, typing, blink-end
		-webkit-animation-duration: 1s, 1s, 1s
		-moz-animation-duration: 1s, 1s, 1s
		animation-duration: 1s, 1s, 1s
		-webkit-animation-timing-function: linear, steps(13, end), linear
		-moz-animation-timing-function: linear, steps(13, end), linear
		animation-timing-function: linear, steps(13, end), linear
		-webkit-animation-iteration-count: 1, 1, infinite
		-moz-animation-iteration-count: 1, 1, infinite
		animation-iteration-count: 1, 1, infinite
		-webkit-animation-delay: 0s, 1s, 2s
		-moz-animation-delay: 0s, 1s, 2s
		animation-delay: 0s, 1s, 2s
		-webkit-animation-fill-mode: forwards
		-moz-animation-fill-mode: forwards
		animation-fill-mode: forwards
	span
		display: block
		width: 260px

	@-webkit-keyframes typing
		from
			width: 0
		to
			width: 140px


	@-moz-keyframes typing
		from
			width: 0
		to
			width: 140px

	@-o-keyframes typing
		from
			width: 0
		to
			width: 140px

	@-ms-keyframes typing
		from
			width: 0
		to
			width: 140px


	@keyframes typing
		from
			width: 0
		to
			width: 140px


	@-webkit-keyframes blink-start
		from, to
			border-color: #000000

		50%
			border-color: transparent


	@-moz-keyframes blink-start
		from, to
			border-color: #000000

		50%
			border-color: transparent

	@-o-keyframes blink-start
		from, to
			border-color: #000000

		50%
			border-color: transparent

	@-ms-keyframes blink-start
		from, to
			border-color: #000000

		50%
			border-color: transparent


	@keyframes blink-start
		from, to
			border-color: #000000

		50%
			border-color: transparent


	@-webkit-keyframes blink-end
		from, to
			border-color: #000000

		50%
			border-color: transparent


	@-moz-keyframes blink-end
		from, to
			border-color: #000000

		50%
			border-color: transparent

	@-o-keyframes blink-end
		from, to
			border-color: #000000

		50%
			border-color: transparent

	@-ms-keyframes blink-end
		from, to
			border-color: #000000

		50%
			border-color: transparent

	@keyframes blink-end
		from, to
			border-color: #000000

		50%
			border-color: transparent