.container
  position: absolute
  top: 25%
  left: -36%
  transform: translateY(-50%)
  width: 100%
  margin: 0 auto

.slogan
  display: block
  overflow: hidden
  position: relative
  width: 0
  margin: 0 auto
  padding: 2px 0 0
  font-family: 'Yanone-Kaffeesatz', sans-serif
  font-weight: 700
  font-style: normal
  font-size: 18px
  letter-spacing: -1px
  text-align: center
  border-right: 6px solid #000000
  -webkit-animation-name: blink-start, typing, blink-end
  -moz-animation-name: blink-start, typing, blink-end
  animation-name: blink-start, typing, blink-end
  -webkit-animation-duration: 1s, 1s, 1s
  -moz-animation-duration: 1s, 1s, 1s
  animation-duration: 1s, 1s, 1s
  -webkit-animation-timing-function: linear, steps(13, end), linear
  -moz-animation-timing-function: linear, steps(13, end), linear
  animation-timing-function: linear, steps(13, end), linear
  -webkit-animation-iteration-count: 1, 1, infinite
  -moz-animation-iteration-count: 1, 1, infinite
  animation-iteration-count: 1, 1, infinite
  -webkit-animation-delay: 0s, 1s, 2s
  -moz-animation-delay: 0s, 1s, 2s
  animation-delay: 0s, 1s, 2s
  -webkit-animation-fill-mode: forwards
  -moz-animation-fill-mode: forwards
  animation-fill-mode: forwards

.slogan span
  display: block
  width: 260px

@-webkit-keyframes typing
  from
    width: 0
  to
    width: 193px

@-moz-keyframes typing
  from
    width: 0
  to
    width: 193px

@keyframes typing
  from
    width: 0

  to
    width: 193px

@-webkit-keyframes blink-start
  from, to
    border-color: #000000
    50%
      border-color: transparent

@-moz-keyframes blink-start
  from, to
    border-color: #000000
    50%
      border-color: transparent

@keyframes blink-start
  from, to
    border-color: #000000
    50%
      border-color: transparent

@-webkit-keyframes blink-end
  from, to
    border-color: #000000
    50%
      border-color: transparent

@-moz-keyframes blink-end
  from, to
    border-color: #000000
    50%
      border-color: transparent


@keyframes blink-end
  from, to
    border-color: #000000
    50%
      border-color: transparent
